.controls {
  display: grid;
  place-items: center;
  gap: 1rem;

  @media (min-width: 48rem) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  @media (min-width: 48rem) {
    justify-content: flex-end;
  }
}
