.main {
  padding: 1rem;
  display: grid;
  gap: 2rem;
  overflow-x: hidden;
  border-radius: 0.2rem;

  @media (min-width: 48rem) {
    padding: 2rem;
  }

  @media (min-width: 77rem) {
    padding-inline: calc((100vw - 75rem) / 2);
  }
}
